name: Lint

on:
  # Manual Invocation
  workflow_dispatch:

  # Invocation from workflow
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run lint
        uses: golangci/golangci-lint-action@v8
